p {
    color: black;
    font-size: 1.2rem;
    text-align: justify;
}
.mainContainer {
    margin: 0 auto;
    padding: 20px;
    max-width: 80%;; 
    cursor: default;
}

.titleContainer {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 0.5px solid rgb(60, 140, 145);
    border-top: 0.5px solid rgb(60, 140, 145);
    border-radius: 10px;
    padding: 15px 0px 5px 0px;
    width: 50%;
    margin: 0 auto;
    transition: 0.5s ease;
}
.titleContainer:hover {
    background-color: rgba(240, 240, 220, 0.4);
}

.container p {
    font-size: 16px;
    line-height: 1.6;
    color: #333; 
}

@media (max-width: 768px) {
    .container .row {
        display: block; 
    }

    .container .col {
        margin-bottom: 20px;
    }
}
.videoCard {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    z-index: -1; 
    pointer-events: none; 
    filter: brightness(1); 
    will-change: transform; 

  }
  /* Centrar las imágenes verticalmente en sus contenedores */
/* Centrar las imágenes verticalmente y horizontalmente */
.row {
    display: flex;
    justify-content: center;  /* Centra los elementos horizontalmente */
    align-items: center;      /* Centra los elementos verticalmente */
    text-align: center;
  }
  
  .col img {
    width: 100%;              /* Asegura que la imagen ocupe el 100% del ancho de su contenedor */
    height: auto;             /* Mantiene la proporción de la imagen */
    max-height: 100%;         /* Limita la altura para que no se salga del contenedor */
    display: block;           /* Elimina cualquier espacio extra debajo de la imagen */
    margin: 0 auto;           /* Centra la imagen horizontalmente */
  }

  