body {
  margin: 0;
  background-color: rgb(29, 29, 29);
  color: white;
}
a {
  text-decoration: none;
  color: rgb(138, 69, 5);
  font-size: 1.3rem;
  transition: 0.5s ease;

  &:hover {
color: rgb(197, 100, 10);
  }
}


