label {
    font-size: 1.2rem;
    margin: 10px 0px 10px 0px;
}

input:focus {
    font: 1em sans-serif;
    border-color: #4ca0af; 
    box-shadow: none; /* Evita sombras sobre el fondo */
    outline: none; 
  }
form {
    text-align: center;
}
hr {
    height: 1px; 
    background-color: #60A28F; 
    border: none; 
    margin: 20px 0;
}
.navLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}
.titlelogo {
    cursor: pointer;
    color: white;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
    transition: 0.5s ease;
}
.titlelogo:hover {
    color: rgb(60, 140, 145);
    text-shadow: 0px 0px 5px rgb(255, 255, 254);
}

.ancla {
    margin-top: 20px;
    width: 8%;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0)); /* Sombra según la forma de la imagen */  
}


.formContainer {
    display: flex;
    justify-content: center; 
    margin: 0 auto;       
}
.form {
    width: 30%;
    padding: 20px;
    background-color: rgba(236, 236, 236, 0.6);
    border-radius: 20px;
    color: black;
    padding-bottom: 50px;
}
.divInput {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 5px;
}
.formInput {
    font: 1em sans-serif;
    border: none;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.errorText {
    color: red;
    font-size: 1rem;
    margin-top: 5px;
}
.buttonLogin {
    border: 0;
    font-size: 1.2rem;
    margin: 20px 20px 0px 20px;
    padding: 20px;
    width: 70%;
    color: white;
    background-color: rgb(60, 140, 145);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}
.buttonLogin:hover {
    background-color: rgb(73, 173, 180);
}

.backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
    pointer-events: none; 
    filter: brightness(1); 
    will-change: transform; 
  }
  
  

.linkRegisterContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.linkRegister {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}
.linkRegister:hover {
    color: rgb(60, 140, 145);
}
.buttonLogin:hover {
    background-color: rgb(73, 173, 180);
}
      

.successMessage {
    color: green;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
}

.errorMessage {
    color: red;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
}

