@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,300;0,400;0,500;0,600&display=swap');
nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom : 1px solid rgb(60, 140, 145);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px 20px;
  height: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.5s ease;
}

.logo h1 {
  color: #000; /* Color inicial */
  transition: color 0.5s ease;
}

.logo h1:hover {
  color: rgb(60, 140, 145);
}

.logo img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.nvblogo {
  font-family: "Spectral SC", serif;
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  cursor: pointer;
}

.nvblinks {
  display: flex;
  gap: 100px;
  border-left: 1px solid rgb(60, 140, 145);
  border-right: 1px solid rgb(60, 140, 145);
  padding: 0px 40px 0px 40px;
  margin: 0 auto;
}

.nvblinks a {
  font-family: "Spectral SC", serif;
  font-weight: 300;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
}

.nvblinks a:hover {
  color: rgb(60, 140, 145);
  transform: translateY(-2px);
}

.nvblinks a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(60, 140, 145);
  transition: width 0.3s ease;
}

.nvblinks a:hover::after {
  width: 100%;
}


.logoutContainer {
  font-family: "Spectral SC", serif;
  font-weight: 300;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logoutText {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.5s ease;
}

.logoutText:hover {
  color: rgb(109, 22, 22);
}