@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,300;0,400;0,500;0,600&display=swap');
nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px solid rgb(60, 140, 145);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px 20px;
  height: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  

  position: relative; 
}
.logoContainer,
.nvblinks,
.logoutContainer {
  display: flex;
  align-items: center;
  justify-content: center; /* Centro horizontal */
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.5s ease;
}

.logo h1 {
  color: #000; /* Color inicial */
  transition: color 0.5s ease;
}

.logo h1:hover {
  color: rgb(60, 140, 145);
}

.logo img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.nvblogo {
  font-family: "Spectral SC", serif;
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
  cursor: pointer;
}

.navbar nav {
  flex: 1; /* Ocupa el espacio restante */
  display: flex;
  justify-content: center; /* Centro horizontal */
}


.nvblinks {
  display: flex;
  gap: 30px; /* Aumenta el espacio entre los enlaces */
  padding: 0 20px; /* Margen interior opcional */
  margin: 0 auto; /* Centrado horizontal */
  align-items: center;
}

.nvblinks a {
  font-family: "Spectral SC", serif;
  font-weight: 300;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;

  /* Espaciado entre los enlaces */
  margin: 0 10px; /* Añade margen lateral */
}

.nvblinks a:hover {
  color: rgb(60, 140, 145);
  transform: translateY(-2px);
}

.nvblinks a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(60, 140, 145);
  transition: width 0.3s ease;
}

.nvblinks a:hover::after {
  width: 100%;
}


.logoutContainer {

  display: flex;
  align-items: center;
  gap: 10px;
}


.logoutText {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  transition: 0.5s ease;
}

.logoutText:hover {
  color: rgb(109, 22, 22);
}
.imgProfile {
  width: 40px; /* Ajusta el tamaño para que sea más consistente */
  height: 40px;
  border-radius: 50%;
}