
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #3c8c91;
}

.logoContainer {
  margin-right: auto;
}

.logoutContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
}


.ancla {
  height: 50px;
  width: 50px;
}

.nvblogo {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333; 
  line-height: 1.2;
}

.nvblogo br {
  display: block;
}

.nvblinks {
  display: flex;
  gap: 20px;
  flex: 1; 
  justify-content: space-between; 
  margin: 0; 
}

.nvblinks a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nvblinks a:hover {
  color: #409197; 
}

.imgProfile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logoutText {
  text-decoration: none;
  color: #000000; 
  margin-left: 10px;
  transition: color 0.3s ease;
}

.logoutText:hover {
  color: #c9302c; 
}

.menuBtn {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #3c8c91;
  cursor: pointer;
  margin: 0 auto;
}

.logoutSmall {
  margin-top: 10px;
  display: none;
  background-color: #3c8c91; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}

.logoutSmall:hover {
  background-color: #c9302c; 
}

@media (max-width: 768px) {
  .nvblinks {
    position: absolute; 
    top: 150px; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
    background-color: white; 
    padding: 10px 0; 
    display: none; 
    flex-direction: column; 
    border-bottom: 2px solid #3c8c91;
  }
  
 
  .nvblinks.show {
    display: flex; 
    text-align: center;
  }
  

  .menuBtn {
    display: block; 
  }

  .logoutContainer {
    display: none;
  }
  .menuBtn,
  .logoutSmall {
    display: block; 
  }

  .logoutContainer {
    display: none; 
  }
}
